
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    margin: 20px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f8f9fa;
}

.addfront {
    display: flex;
    justify-content: center;
    display: none;
}

#gamesTable {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

#gamesTable th {
    background-color: #343a40;
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

#gamesTable td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
    color: #343a40;
    border-bottom: 1px solid #e9ecef;
    transition: background-color 0.2s ease;
}

#gamesTable tr:nth-child(even) td {
    background-color: lightgrey;
}

#gamesTable td:hover {
    background-color: #e2e6ea;
}

#gamesTable button {
    padding: 8px 16px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

#gamesTable button:hover {
    background-color: #bd2130;

}

#gamesTable td:first-child {
    border-radius: 10px 0 0 10px;

}

#gamesTable td:last-child {
    border-radius: 0 10px 10px 0;
    
}

#gamesTable th:first-child {
    border-radius: 10px 0 0 0;

}

#gamesTable th:last-child {
    border-radius: 0 10px 0 0;

}


.modal-header {
    background-color: #007bff;
    color: white;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 20px;
    background-color: #f8f9fa;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}


#adding_game {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#adding_game label {
    font-weight: bold;
    margin-bottom: 5px;
}

#adding_game input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

#adding_game button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#adding_game button:hover {
    background-color: #0056b3;
}


.btn-close {
    background-color: white;
    border: none;
}
